            <div class="site-footer">
                <div class="container">
                    <p class="copyright">2017 г. © Интернет-магазин <span>Декоретто - фотообои</span></p>
                    <a href="#top" class="back-to-top smooth-link"><svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg></a>
                    <p class="ibrush">Дизайн и разработка — <a href="http://www.ibrush.ru">iBrush</a></p>
                </div>
            </div>

        <script src="js/external.js"></script>
        <script src="js/internal.js"></script>