@@if ( context.call_me === "true" ) {
<div class="modal fade" id="call_me">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg></button>

            <div class="modal-body">
                <h4 class="modal-title">
                    Перезвонить вам?
                    <span class="line"></span>
                </h4>

                <form action="" class="form">
                    <div class="form-border">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Как к вам обрашаться">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Контактный телефон">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
}