.btn {
  position: relative;
  display: inline-block;
  font-size: $font-size;
  padding: 16px 25px 14px;
  text-decoration: none !important;
  border: 0;
  z-index: 1;
  @include transition($transition);

  &-default {
    background-image: $btn-default-img;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: $btn-default-color;
    @include scale(1,1);

    &:hover {
      background-image: $btn-default-img-hover;
      color: $btn-default-color;
      border-bottom: 0;
      z-index: 2;
      @include box-shadow(0 0 27px 0 rgba(48,22,61,.5));
      @include scale(1.05, 1.05);
    }
    &:focus,
    &:active,
    &:active:hover {
      color: $btn-default-color;
      border-bottom: 0;
    }
  }
  &-primary {
    background-image: $btn-primary-img;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: $btn-primary-color;
    @include scale(1,1);

    &:hover {
      background-image: $btn-primary-img-hover;
      color: $btn-primary-color;
      border-bottom: 0;
      z-index: 2;
      @include scale(1.05, 1.05);
      @include box-shadow(0 0 27px 0 rgba(48,22,61,.5));
    }
    &:focus,
    &:active,
    &:active:hover {
      color: $btn-primary-color;
      border-bottom: 0;
    }
  }

  @for $btn from 20 through 50 {
    @if $btn % 2 == 0 {
      &.btn-#{$btn} {
        padding-left: $btn#{'px'};
        padding-right: $btn#{'px'};

        &-md {
          @media screen and (min-width: $screen-md) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
        &-sm {
          @media screen and (max-width: $screen-sm-max) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
        &-xs {
          @media screen and (max-width: $screen-xs-max) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
      }
    }
  }
}
