@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 800;
  src: local('PFDinTextPro ExtraBlack'), local('PFDinTextPro-ExtraBlack'), url('../fonts/PF_DIN_WEB/PFDinTextPro-ExtraBlack.woff2') format('woff2');
}
@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 700;
  src: local('PFDinTextPro XBlack'), local('PFDinTextPro-XBlack'), url('../fonts/PF_DIN_WEB/PFDinTextPro-XBlack.woff2') format('woff2');
}
@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 600;
  src: local('PFDinTextPro Bold'), local('PFDinTextPro-Bold'), url('../fonts/PF_DIN_WEB/PFDinTextPro-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 500;
  src: local('PFDinTextPro Medium'), local('PFDinTextPro-Medium'), url('../fonts/PF_DIN_WEB/PFDinTextPro-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 400;
  src: local('PFDinTextPro'), local('PFDinTextPro-Regular'), url('../fonts/PF_DIN_WEB/PFDinTextPro-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 300;
  src: local('PFDinTextPro Light'), local('PFDinTextPro-Light'), url('../fonts/PF_DIN_WEB/PFDinTextPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 200;
  src: local('PFDinTextPro Thin'), local('PFDinTextPro-Thin'), url('../fonts/PF_DIN_WEB/PFDinTextPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 100;
  src: local('PFDinTextPro XThin'), local('PFDinTextPro-XThin'), url('../fonts/PF_DIN_WEB/PFDinTextPro-XThin.woff2') format('woff2');
}

@font-face {
  font-family: 'PFDinTextCompPro';
  font-style: normal;
  font-weight: 500;
  src: local('PFDinTextCompPro'), local('PFDinTextCompPro-Regular'), url('../fonts/PF_DIN_WEB/PFDinTextCompPro-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'PFDinTextCompPro';
  font-style: normal;
  font-weight: 200;
  src: local('PFDinTextCompPro Thin'), local('PFDinTextCompPro-Thin'), url('../fonts/PF_DIN_WEB/PFDinTextCondPro-Thin.woff') format('woff');
}