.site {
  &-header {
    height: 80px;

    * {
      @include transition($transition);
    }
    .container {
      height: 80px;
      padding: 17px 0;
      @include flexbox();
      @include flex-wrap();
      @include align-items(center);
    }
    .logo {
      padding: 4px 0 0 0;
      margin-right: 95px;
    }
    .right {
      margin: 0 0 0 auto;
    }
    .call-me {
      padding: 16px 46px 14px;
      margin-left: 47px;

      &:hover {
        @include box-shadow(none);
      }
    }
    @media (max-width: $screen-md-max) {
      .logo {
        margin-right: 40px;
      }
      .call-me {
        margin-left: 30px;
        padding: 16px 28px 14px;
      }
    }
    @media (max-width: $screen-sm-max) {
      .container {
        padding-left: 10px;
        padding-right: 10px;
      }
      .logo {
        margin-right: 25px;
      }
      .phone {
        display: none;
      }
      .call-me {
        padding: 16px 30px 14px;
        margin-left: 0;
      }
    }
    @media (max-width: $screen-xs-max) {
      height: 65px;

      .main-menu {
        display: none;
      }
      .container {
        height: 65px;
      }
      .call-me {
        display: none;
      }
    }
  }
  &-footer {

  }
}
.main {
  &-menu {
    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;

      a {
        font-size: 16px;
        font-weight: 200;
        color: $menu-item;
        border-bottom: 1px solid transparent;

        &:hover {
          color: $menu-item-hover;
          border-bottom: 1px solid;
        }
      }
    }
    @media (max-width: $screen-md-max) {
      li {
        margin-right: 25px;
      }
    }
    @media (max-width: $screen-sm-max) {
      li {
        margin-right: 15px;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 25px;
      margin-bottom: 35px;

      li {
        margin: 0 0 10px;
        display: block;

        a {
          text-transform: uppercase;
          font-weight: 500;
          color: #fff;
          font-size: 20px;
          border-bottom: 0;

          &:hover {
            border-bottom: 0;
          }
        }
        &.line {
          position: relative;
          margin: 0;
          height: 1px;
          width: 100%;
          background: #633a78;

          &:before,
          &:after {
            content: '';
            position: absolute;
            top: -1px;
            width: 5px;
            height: 3px;
            background: #633a78;
          }
          &:before {
            left: 0;
          }
          &:after {
            right: 0;
          }
          &:first-child {
            margin-bottom: 30px;
          }
          &:last-child {
            margin-top: 20px;
          }
        }
      }
    }
  }
  &-banner {
    position: relative;
    text-align: center;

    * {
      @include transition($transition);
    }
    img {
      min-width: 100%;
      max-width: none;
      height: 700px;
    }
    &-title {
      width: 100%;
      text-transform: uppercase;
      font-family: $font-family-second;
      font-size: 80px;
      color: #fff;
      margin: auto 0 0 0;
      letter-spacing: 2px;
    }
    &-text {
      width: 100%;
      font-size: 30px;
      color: #fff;
      margin: 0;
    }
    &-links {
      width: 100%;
      margin: 0 0 auto 0;

      .btn {
        position: relative;
        font-size: 22px;
        padding: 25px 50px 25px 70px;

        &:hover {
          .icon {
            @include opacity(0);

            &.hover {
              @include opacity(1);
            }
          }
        }
        .icon {
          position: absolute;
          left: -40px;
          margin-top: -8px;

          &.hover {
            @include opacity(0);
          }
        }
        .text {
          position: relative;
        }
      }
    }
    &-bottom {
      position: absolute;
      bottom: 110px;
      left: 0;
      right: 0;
      color: #fff;

      span {
        display: block;
        margin-bottom: 15px;
        font-weight: 400;
      }
      p {
        font-family: $font-family-second;
        font-size: 35px;
        color: #fff;
      }
    }
    .container {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
    }
    @media (max-width: $screen-sm-max) {
      &-title {
        font-size: 60px;
      }
    }
    @media (max-width: $screen-xs-max) {
      &-title {
        font-size: 45px;
      }
      &-text {
        font-size: 20px;
      }
      &-bottom {
        bottom: 100px;

        span {
          font-size: 13px;
        }
        p {
          font-size: 27px;
        }
      }
    }
    @media (max-width: 630px) {
      &-title {
        font-size: 45px;
        line-height: 50px;
      }
      &-links {
        .btn {
          display: block;
          width: 100%;
          font-size: 18px;
          margin-bottom: 3px;
          padding: 25px 20px 25px 20px;

          .icon {
            left: -35px;
          }
        }
      }
      &-bottom {
        bottom: 80px;
        padding: 0 20px;

        p {
          line-height: 30px;
        }
      }
      .container {
        padding: 0 20px 100px;
      }
    }
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  padding: 75px 40px 45px;
  z-index: 900;
  text-align: center;
  background: rgba(29,16,75,.95);
  pointer-events: none;
  overflow: auto;
  @include transition($transition);
  @include opacity(0);

  &.active {
    pointer-events: all;
    @include opacity(1);
  }
  .icon-cross {
    position: absolute;
    top: 27px;
    right: 23px;
  }
  .phone {
    display: block;
    margin-bottom: 35px;

    span {
      font-family: $font-family-second;
      font-size: 28px;
      color: #fff;
      border-bottom: 0;

      &:hover {
        border-bottom: 0;
      }
    }
  }
  .btn {
    width: 100%;
    padding: 25px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
  .social {
    display: inline-block;
    margin-top: 15px;
    border: 0.5px solid #633a78;
    @include flexbox();

    li {
      min-width: 60px;
      width: 100%;
      height: 60px;

      a {
        display: block;
        position: relative;
        min-width: 60px;
        width: 100%;
        height: 60px;
        border: 0.5px solid #633a78;
        line-height: 80px;
        z-index: 1;
        @include scale(1, 1);
        @include transition($transition);

        &:hover {
          background-image: $btn-default-img-hover;
          z-index: 2;
          border: 0.5px solid transparent;
          @include scale(1.1, 1.1);
          @include box-shadow(0 0 27px 0 rgba(48, 22, 61, .5));
        }
      }
    }
  }
  @media (min-width: $screen-sm) {
    display: none;
  }
  @media (max-height: 600px) and (max-width: 400px) {
    padding: 75px 40px 75px;
  }
}
.line {
  &-b {
    display: block;
    margin: 25px auto;
    height: 1px;
    background: #ced5e5;
    position: relative;
    max-width: 115px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      width: 5px;
      height: 3px;
      background: #ced5e5;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  @media (max-width: 630px) {
    &-b {
      margin: 17px auto;
    }
  }
}
.advantage {
  &-block {
    background: #F0F0F0;
    padding: 0 0 60px 0;
  }
  &-item {
    padding: 35px;
    text-align: center;
    background: rgba(255,255,255,.4);
  }
  &-thumb {
    border: 20px solid #fff;
    margin-bottom: 25px;
    display: inline-block;
  }
  &-title {
    display: block;
    font-family: $font-family-second;
    font-size: 45px;
    line-height: 43px;
    text-transform: uppercase;
    color: #4c4990;
    margin: 0;
  }
  &-content {
    p {
      font-size: 15px;
      color: #18284c;
      line-height: 22px;
      margin: 0;
      font-weight: 200;
    }
  }
  @media (max-width: $screen-xs-max) {
    &-thumb {
      max-height: 240px;

      img {
        max-height: 200px;
      }
    }
    &-title {
      font-size: 40px;
      line-height: 37px;
    }
  }
  @media (max-width: 630px) {
    &-block {
      .container {
        padding: 0;
      }
    }
    &-thumb {
      @include box-shadow(0 0 35px 0 rgba(211,207,203,.75));
      margin-bottom: 20px;
    }
    &-title {
      font-size: 35px;
      line-height: 34px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    &-content {
      p {
        line-height: 18px;
      }
    }
  }
}
.photo-wallpapers {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1d104b;
    pointer-events: none;
    z-index: 19;
    display: none;
    @include transition($transition);
    @include opacity(0);

    @media (max-width: $screen-md-max) and (min-width: $screen-sm) {
      display: block;
    }
  }
  &.active {
    &:before {
      pointer-events: all;
      @include opacity(.9);
    }
    .catalog-list {
      &:before {
        pointer-events: all;
        @include opacity(.9);
      }
    }
  }
  &-banner {
    width: 100%;
    min-height: 450px;
    background: url('../img/bg-photo-wallpapers.jpg') center top no-repeat;
    background-size: cover;
    padding: 80px 0;

    * {
      @include transition($transition);
    }
    p {
      display: block;
      margin: 0;
      color: #fff;
      font-family: $font-family-second;
      font-size: 80px;
      line-height: 70px;
    }
    span {
      display: block;
      color: #fff;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
    }
    @media (max-width: $screen-md-max) {
      br {
        display: none;
      }
      span {
        max-width: 40%;
      }
    }
    @media (max-width: $screen-xs-max) {
      min-height: 280px;

      p {
        font-size: 45px;
        line-height: 40px;
      }
      span {
        max-width: 100%;
      }
    }
    @media (max-width: 630px) {
      padding: 57px 0;
      text-align: center;
    }
  }
  &-catalog {
    background: #fff;

    .catalog-tools {
      .btn {
        font-size: 16px;
        font-weight: 300;
        padding-top: 25px;
        padding-bottom: 25px;

        br {
          display: none;
        }
      }
    }
    .container {
      @include flexbox();
    }
    .filter {
      padding-top: 50px;
      width: 275px;

      &-title {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 300;
        color: #464389;
        margin-bottom: 20px;
      }
      &-toggle {
        padding: 0;
        margin: 0 45px 0 0;
        border: 0;
        background: transparent;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 300;
        color: #464389;
      }
      &-reset {
        padding: 0;
        border: 0;
        background: transparent;
        font-size: 13px;
        font-weight: 200;
        margin-right: 25px;
        color: #6d6c90;
        @include transition($transition);

        &:hover {
          color: $main-color;
        }
        @media (max-width: $screen-md-max) {
          border-left: 0;
          border-bottom: 0;
        }
      }
      &-content {
        padding: 20px;
        border-left: 1px solid #E4E4E6;

        @media (max-width: $screen-md-max) {
          border-left: 0;
        }
      }
      aside {
        background: #fff;

        h3 {
          background: url('../img/bg-h3-aside.png') no-repeat;
          background-size: cover;
          font-size: 18px;
          font-weight: 300;
          padding: 22px 25px;
          color: #464389;
          margin: 0;
        }
      }
      .find {
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        padding: 25px 40px 25px 25px;
        position: relative;

        &:hover {
          z-index: 10;
        }
        .text {
          position: relative;

          .icon {
            position: absolute;
            top: -9px;
            right: -35px;
            max-width: 35px;
            max-height: 35px;
            color: #fff;
          }
        }
      }
      .btn-reset {
        width: 100%;
        background: #fff;
        padding: 25px;
        font-size: 14px;
        font-weight: 200;
        color: #6d6c90;
        border-left: 1px solid #E4E4E6;
        border-bottom: 1px solid #E4E4E6;

        &:hover {
          color: $main-color;
        }
        @media (max-width: 630px) {
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
    .content {
      margin-top: -175px;
      position: relative;
      z-index: 9;
      width: calc(100% - 275px);
    }
    .reset {
      float: right;
      padding: 0;
      border: 0;
      background: transparent;
      font-size: 13px;
      font-weight: 200;
      margin-right: 25px;
      color: #6d6c90;
      @include transition($transition);

      &:hover {
        color: $main-color;
      }
    }
    .icon-cross {
      display: none;
    }
    @media (max-width: $screen-md-max) {
      .filter {
        position: absolute;
        pointer-events: none;
        padding-top: 0;
        z-index: 20;
        margin-top: -159px;
        @include opacity(0);
        @include transition($transition);

        &-title {
          display: inline-block;
          vertical-align: top;
          color: #fff;
        }
        .icon-cross {
          display: inline-block;
          vertical-align: top;
          margin-top: -3px;
          margin-left: 10px;
        }
        .reset {
          color: #fff;
        }
        &.active {
          pointer-events: all;
          @include opacity(1);
        }
      }
      .content {
        width: 100%;
      }
    }
    @media (max-width: $screen-xs-max) {
      .filter {
        margin-top: 0;
        padding: 10px 0 0 20px;
        width: 285px;
      }
      .content {
        margin-top: -75px;
      }
    }
    @media (max-width: 630px) {
      .filter {
        width: 100%;
        padding: 10px 20px;
        margin-top: 20px;

        &-reset,
        .reset {
          margin-right: 0;
          margin-left: auto;
        }
      }
      .container {
        padding: 0;
      }
      .catalog-tools {
        margin: 0 -2px;
        @include flexbox();

        .btn {
          width: 50%;
          margin: 0 .5px;
          height: 72px;
          font-size: 15px;
          font-weight: 300;
          line-height: 16px;
          padding: 20px 10px 20px 40px;

          br {
            display: block;
          }
          span {
            display: block;
            padding-left: 10px;
          }
          .icon {
            top: 0;
            left: -25px;
          }
        }
      }
      .content {
        .pagination {
          margin-left: 38px;
          margin-right: 38px;
        }
      }
    }
  }
}
.catalog {
  &-list {
    margin-top: 1px;
    padding: 25px 0;
    background: #fff;
    @include box-shadow(0 0 75px 0 rgba(219,217,230,.75));
    @include flexbox();
    @include flex-wrap(wrap);
    @include transition($transition);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #1d104b;
      pointer-events: none;
      z-index: 19;
      display: none;
      margin: -62px -20px 0;
      height: calc(100% + 62px);
      @include transition($transition);
      @include opacity(0);
    }
    @media (max-width: $screen-xs-max) {
      position: relative;

      &:before {
        display: block;
      }
    }
  }
  &-item {
    width: 33.3333%;
    padding: 0 25px 85px;
    margin-top: 35px;
    position: relative;
    @include transition($transition);

    &:nth-child(3n+0) {
      .catalog-thumb:after {
        display: none;
      }
    }
    &:nth-child(-n+3) {
      margin-top: 0;

      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: calc(100% + 35px);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 75px;
      height: 1px;
      background: #DDDDDD;
    }
  }
  &-thumb {
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      @include transition(all .4s linear);
      @include scale(1, 1);
    }
    &:hover {
      img {
        @include scale(1.1, 1.1);
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -25px;
      width: 1px;
      background: #DDDDDD;
    }
    .wrap {
      position: relative;
      overflow: hidden;
    }
  }
  &-info {
    padding: 30px 15px 20px;
    width: calc(100% - 26px);
    margin: -110px auto 0;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 9;
    @include box-shadow(0 0 9px 0 rgba(99,99,123,.29));

    .title {
      display: inline-block;
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 15px;
      color: #464389;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #464389;
      }
    }
    .desc {
      font-size: 14px;
      font-weight: 200;
      margin-bottom: 15px;
      color: #6d6c90;
    }
    .price {
      color: #464389;
      display: block;
      font-size: 22px;

      small {
        font-size: 16px;
      }
    }
    .btn {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding-top: 18px;
      padding-bottom: 16px;
      text-transform: uppercase;
    }
  }
  &-filter {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px 20px 0;
    margin: 1px 0 -1px 0;
    position: relative;
    z-index: 10;
  }
  @media (max-width: $screen-md-max) {
    &-filter {
      @include flexbox();
    }
  }
  @media (max-width: $screen-sm-max) {
    &-item {
      width: 50%;

      &:nth-child(-n+3) {
        margin-top: 35px;

        &:before {
          display: inherit;
        }
      }
      &:nth-child(-n+2) {
        margin-top: 0;

        &:before {
          display: none;
        }
      }
      &:nth-child(3n+0) {
        .catalog-thumb:after {
          display: inherit;
        }
      }
      &:nth-child(even),
      &:last-child {
        .catalog-thumb:after {
          display: none;
        }
      }
    }
  }
  @media (max-width: 630px) {
    &-filter {
      width: calc(100% + 2px);
      margin: 1px -1px -1px;
    }
    &-item {
      width: 100%;

      &:nth-child(-n+2) {
        margin-top: 35px;

        &:before {
          display: inherit;
        }
      }
      &:first-child {
        margin-top: 0;

        &:before {
          display: none;
        }
      }
    }
    &-thumb {
      &:after {
        display: none !important;
      }
    }
  }
}