.site {
  &-header {
    height: 80px;

    * {
      @include transition($transition);
    }
    .container {
      height: 80px;
      padding: 17px 0;
      @include flexbox();
      @include flex-wrap();
      @include align-items(center);
    }
    .logo {
      padding: 4px 0 0 0;
      margin-right: 95px;
    }
    .right {
      margin: 0 0 0 auto;
    }
    .call-me {
      padding: 16px 46px 14px;
      margin-left: 47px;

      &:hover {
        @include box-shadow(none);
      }
    }
    @media (max-width: $screen-md-max) {
      .logo {
        margin-right: 40px;
      }
      .call-me {
        margin-left: 30px;
        padding: 16px 28px 14px;
      }
    }
    @media (max-width: $screen-sm-max) {
      .container {
        padding-left: 10px;
        padding-right: 10px;
      }
      .logo {
        margin-right: 25px;
      }
      .phone {
        display: none;
      }
      .call-me {
        padding: 16px 30px 14px;
        margin-left: 0;
      }
    }
    @media (max-width: $screen-xs-max) {
      height: 65px;

      .main-menu {
        display: none;
      }
      .container {
        height: 65px;
      }
      .call-me {
        display: none;
      }
    }
  }
  &-footer {
    background: #F2F2F2;
    padding: 15px 0;

    .container {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);

      p {
        font-size: 14px;
        font-weight: 300;
        color: #8b8ab3;
        margin: 0;
      }
      a {
        color: #8b8ab3;
      }
      .copyright {
        margin: 0 auto 0 0;

        @media (max-width: $screen-sm-max) {
          span {
            display: block;
          }
        }
      }
      .ibrush {
        margin: 0 0 0 auto;
      }
    }
    @media (max-width: $screen-xs-max) {
      .container {
        text-align: center;
        display: block;
        position: relative;
        padding-top: 100px;

        p {
          font-size: 13px;
        }
        .copyright {
          span {
            display: inline-block;
          }
        }
      }
      .back-to-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
.main {
  &-menu {
    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;

      a {
        font-size: 16px;
        font-weight: 200;
        color: $menu-item;
        border-bottom: 1px solid transparent;

        &:hover {
          color: $menu-item-hover;
          border-bottom: 1px solid;
        }
      }
    }
    @media (max-width: $screen-md-max) {
      li {
        margin-right: 25px;
      }
    }
    @media (max-width: $screen-sm-max) {
      li {
        margin-right: 15px;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 25px;
      margin-bottom: 35px;

      li {
        margin: 0 0 10px;
        display: block;

        a {
          text-transform: uppercase;
          font-weight: 500;
          color: #fff;
          font-size: 20px;
          border-bottom: 0;

          &:hover {
            border-bottom: 0;
          }
        }
        &.line {
          position: relative;
          margin: 0;
          height: 1px;
          width: 100%;
          background: #633a78;

          &:before,
          &:after {
            content: '';
            position: absolute;
            top: -1px;
            width: 5px;
            height: 3px;
            background: #633a78;
          }
          &:before {
            left: 0;
          }
          &:after {
            right: 0;
          }
          &:first-child {
            margin-bottom: 30px;
          }
          &:last-child {
            margin-top: 20px;
          }
        }
      }
    }
  }
  &-banner {
    position: relative;
    text-align: center;

    * {
      @include transition($transition);
    }
    img {
      min-width: 100%;
      max-width: none;
      height: 700px;
    }
    &-title {
      width: 100%;
      text-transform: uppercase;
      font-family: $font-family-second;
      font-size: 80px;
      line-height: 80px;
      color: #fff;
      margin: 130px 0 10px;
      letter-spacing: 2px;
    }
    &-text {
      width: 100%;
      font-size: 30px;
      font-weight: 300;
      color: #fff;
      margin: 0 0 50px;
    }
    &-links {
      width: 100%;
      margin: 0;

      .btn {
        position: relative;
        font-size: 22px;
        padding: 25px 50px 25px 70px;

        &:hover {
          .icon {
            @include opacity(0);

            &.hover {
              @include opacity(1);
            }
          }
        }
        .icon {
          position: absolute;
          left: -40px;
          margin-top: -8px;

          &.hover {
            @include opacity(0);
          }
        }
        .text {
          position: relative;
        }
      }
    }
    &-bottom {
      position: absolute;
      bottom: 110px;
      left: 0;
      right: 0;
      color: #fff;

      span {
        display: block;
        margin-bottom: 15px;
        font-weight: 400;
      }
      p {
        font-family: $font-family-second;
        font-size: 35px;
        color: #fff;
      }
    }
    .container {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 80px;
    }
    @media (max-width: $screen-sm-max) {
      &-title {
        font-size: 60px;
        line-height: 60px;
      }
    }
    @media (max-width: $screen-xs-max) {
      &-title {
        font-size: 45px;
        line-height: 45px;
      }
      &-text {
        font-size: 20px;
      }
      &-bottom {
        bottom: 100px;

        span {
          font-size: 13px;
        }
        p {
          font-size: 27px;
        }
      }
    }
    @media (max-width: 630px) {
      &-title {
        font-size: 45px;
        line-height: 50px;
      }
      &-links {
        .btn {
          display: block;
          width: 100%;
          font-size: 18px;
          margin-bottom: 3px;
          padding: 25px 20px 25px 20px;

          .icon {
            left: -35px;
          }
        }
      }
      &-bottom {
        bottom: 80px;
        padding: 0 20px;

        p {
          line-height: 30px;
        }
      }
      .container {
        padding: 0 20px 100px;
      }
    }
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  padding: 75px 40px 45px;
  z-index: 900;
  text-align: center;
  background: rgba(29,16,75,.95);
  pointer-events: none;
  overflow: auto;
  @include transition($transition);
  @include opacity(0);

  &.active {
    pointer-events: all;
    @include opacity(1);
  }
  .icon-cross {
    position: absolute;
    top: 27px;
    right: 23px;
  }
  .phone {
    display: block;
    margin-bottom: 35px;

    span {
      font-family: $font-family-second;
      font-size: 28px;
      color: #fff;
      border-bottom: 0;

      &:hover {
        border-bottom: 0;
      }
    }
  }
  .btn {
    width: 100%;
    padding: 25px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
  @media (min-width: $screen-sm) {
    display: none;
  }
  @media (max-height: 600px) and (max-width: 400px) {
    padding: 75px 40px 75px;
  }
}
.social {
  display: inline-block;
  margin-top: 15px;
  border: 0.5px solid #633a78;
  @include flexbox();

  li {
    min-width: 60px;
    width: 100%;
    height: 60px;

    a {
      display: block;
      position: relative;
      min-width: 60px;
      width: 100%;
      height: 60px;
      border: 0.5px solid #633a78;
      line-height: 80px;
      z-index: 1;
      @include scale(1, 1);
      @include transition($transition);

      &:hover {
        z-index: 2;
        border: 0.5px solid transparent;
        @include scale(1.1, 1.1);
        @include box-shadow(0 0 27px 0 rgba(48, 22, 61, .5));
      }
    }
  }
  &-block {
    text-align: center;
    margin-top: 65px;
  }
  &-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #ff2c99;
  }
  &.white {
    border: 0;
    @include inline-flex();

    li {
      width: 60px;
      margin-left: -1px;

      &:first-child {
        margin-left: .5px;
      }
      a {
        text-align: center;
        color: #fff;
        border: 1px solid #d9abd6;

        &:hover {
          border: 1px solid transparent;
        }
      }
    }
  }
}
.line {
  &-b {
    display: block;
    margin: 25px auto;
    height: 1px;
    background: #ced5e5;
    position: relative;
    max-width: 115px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      width: 5px;
      height: 3px;
      background: #ced5e5;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  @media (max-width: 630px) {
    &-b {
      margin: 17px auto;
    }
  }
}
.advantage {
  &-block {
    background: #F0F0F0;
    padding: 0 0 60px 0;
  }
  &-item {
    padding: 35px;
    text-align: center;
    background: rgba(255,255,255,.4);
  }
  &-thumb {
    margin-bottom: 25px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 300px;
    max-width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 20px solid #fff;
      z-index: 9;
    }
    img {
      max-width: none;
      min-height: 100%;
    }
  }
  &-title {
    display: block;
    font-family: $font-family-second;
    font-size: 45px;
    line-height: 43px;
    text-transform: uppercase;
    color: #4c4990;
    margin: 0;
  }
  &-content {
    p {
      font-size: 15px;
      color: #18284c;
      line-height: 22px;
      margin: 0;
      font-weight: 200;
    }
  }
  @media (max-width: $screen-xs-max) {
    &-title {
      font-size: 40px;
      line-height: 37px;
    }
  }
  @media (max-width: 630px) {
    &-block {
      .container {
        padding: 0;
      }
    }
    &-thumb {
      @include box-shadow(0 0 35px 0 rgba(211,207,203,.75));
      margin-bottom: 20px;
    }
    &-title {
      font-size: 35px;
      line-height: 34px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    &-content {
      p {
        line-height: 18px;
      }
    }
  }
}
.photo-wallpapers {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1d104b;
    pointer-events: none;
    z-index: 19;
    display: none;
    @include transition($transition);
    @include opacity(0);

    @media (max-width: $screen-md-max) and (min-width: $screen-sm) {
      display: block;
    }
  }
  &.active {
    &:before {
      pointer-events: all;
      @include opacity(.9);
    }
    .catalog-list {
      &:before {
        pointer-events: all;
        @include opacity(.9);
      }
    }
  }
  &-banner {
    width: 100%;
    min-height: 450px;
    background: url('../img/bg-photo-wallpapers.jpg') center top no-repeat;
    background-size: cover;
    padding: 80px 0;

    * {
      @include transition($transition);
    }
    p {
      display: block;
      margin: 0;
      color: #fff;
      font-family: $font-family-second;
      font-size: 80px;
      letter-spacing: 2px;
      line-height: 70px;
    }
    span {
      display: block;
      color: #fff;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
    }
    @media (max-width: $screen-md-max) {
      br {
        display: none;
      }
      span {
        max-width: 40%;
      }
    }
    @media (max-width: $screen-xs-max) {
      min-height: 280px;

      p {
        font-size: 45px;
        line-height: 40px;
      }
      span {
        max-width: 100%;
      }
    }
    @media (max-width: 630px) {
      padding: 57px 0;
      text-align: center;
    }
    @media (max-width: 400px) {
      padding: 37px 0 57px;
    }
  }
  &-catalog {
    background: #fff;

    .catalog-tools {
      .btn {
        font-size: 16px;
        font-weight: 300;
        padding-top: 25px;
        padding-bottom: 25px;

        br {
          display: none;
        }
      }
    }
    .container {
      @include flexbox();
    }
    .filter {
      position: relative;
      padding-top: 50px;
      width: 275px;

      &-title {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 300;
        color: #464389;
        margin-bottom: 20px;
      }
      &-toggle {
        padding: 0;
        margin: 0 45px 0 0;
        border: 0;
        background: transparent;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 300;
        color: #464389;
      }
      &-reset {
        padding: 0;
        border: 0;
        background: transparent;
        font-size: 13px;
        font-weight: 200;
        margin-right: 25px;
        color: #6d6c90;
        @include transition($transition);

        &:hover {
          color: $main-color;
        }
        @media (max-width: $screen-md-max) {
          border-left: 0;
          border-bottom: 0;
        }
      }
      &-content {
        padding: 20px;
        border-left: 1px solid #E4E4E6;

        @media (max-width: $screen-md-max) {
          border-left: 0;
        }
      }
      &-result {
        position: absolute;
        top: 40%;
        left: 95%;
        padding: 20px 15px 15px;
        min-width: 260px;
        background: #fff;
        z-index: 100;
        text-align: center;
        pointer-events: none;
        @include opacity(0);
        @include transition($transition);
        @include box-shadow(0 0 62px 0 rgba(202,202,207,.7));

        &.active {
          pointer-events: all;
          @include opacity(1);
        }
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: -15px;
          margin-top: -15px;
          border-right: 15px solid #fff;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
        }
        .summary {
          display: block;
          margin-bottom: 15px;
          font-size: 16px;
          font-weight: 300;
          color: #53518d;
        }
        .get-result {
          color: $main-color;
          font-size: 16px;
          font-weight: 300;
          border: 1px solid #CED0D6;
          background: transparent;
          width: 100%;
          padding: 13px;
          @include transition($transition);

          &:hover {
            border: 1px solid $main-color;
            @include box-shadow(0 0 8px 0 rgba(202,202,207,.7));
          }
        }
      }
      aside {
        background: #fff;

        h3 {
          background: url('../img/bg-h3-aside.png') no-repeat;
          background-size: cover;
          font-size: 18px;
          font-weight: 300;
          padding: 22px 25px;
          color: #464389;
          margin: 0;
        }
      }
      .find {
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        padding: 25px 40px 25px 25px;
        position: relative;

        &:hover {
          z-index: 10;
        }
        .text {
          position: relative;

          .icon {
            position: absolute;
            top: -9px;
            right: -35px;
            max-width: 35px;
            max-height: 35px;
            color: #fff;
          }
        }
      }
      .btn-reset {
        width: 100%;
        background: #fff;
        padding: 25px;
        font-size: 14px;
        font-weight: 200;
        color: #6d6c90;
        border-left: 1px solid #E4E4E6;
        border-bottom: 1px solid #E4E4E6;

        &:hover {
          color: $main-color;
        }
        @media (max-width: 630px) {
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
    .content {
      margin-top: -175px;
      position: relative;
      z-index: 9;
      width: calc(100% - 275px);
    }
    .reset {
      float: right;
      padding: 0;
      border: 0;
      background: transparent;
      font-size: 13px;
      font-weight: 200;
      margin-right: 25px;
      color: #6d6c90;
      @include transition($transition);

      &:hover {
        color: $main-color;
      }
    }
    .icon-cross {
      display: none;
    }
    @media (max-width: $screen-md-max) {
      .filter {
        position: absolute;
        pointer-events: none;
        padding-top: 0;
        z-index: 20;
        margin-top: -159px;
        @include opacity(0);
        @include transition($transition);

        &-title {
          display: inline-block;
          vertical-align: top;
          color: #fff;
        }
        .icon-cross {
          display: inline-block;
          vertical-align: top;
          margin-top: -3px;
          margin-left: 10px;
        }
        .reset {
          color: #fff;
        }
        &.active {
          pointer-events: all;
          @include opacity(1);
        }
      }
      .content {
        width: 100%;
      }
    }
    @media (max-width: $screen-xs-max) {
      .filter {
        margin-top: 0;
        padding: 10px 0 0 20px;
        width: 285px;
      }
      .content {
        margin-top: -66px;
      }
    }
    @media (max-width: 630px) {
      .filter {
        width: 100%;
        padding: 10px 20px;
        margin-top: 20px;

        &-reset,
        .reset {
          margin-right: 0;
          margin-left: auto;
        }
      }
      .container {
        padding: 0;
      }
      .catalog-tools {
        margin: 0 -2px;
        @include flexbox();

        .btn {
          width: 50%;
          margin: 0 .5px;
          height: 72px;
          font-size: 15px;
          font-weight: 300;
          line-height: 16px;
          padding: 20px 10px 20px 40px;

          br {
            display: block;
          }
          span {
            display: block;
            padding-left: 10px;
          }
          .icon {
            top: 0;
            left: -25px;
          }
        }
      }
      .content {
        .pagination {
          margin-left: 38px;
          margin-right: 38px;
        }
      }
    }
  }
}
.catalog {
  &-list {
    margin-top: 1px;
    padding: 25px 0;
    background: #fff;
    @include box-shadow(0 0 75px 0 rgba(219,217,230,.75));
    @include flexbox();
    @include flex-wrap(wrap);
    @include transition($transition);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #1d104b;
      pointer-events: none;
      z-index: 19;
      display: none;
      margin: -62px -20px 0;
      height: calc(100% + 62px);
      @include transition($transition);
      @include opacity(0);
    }
    @media (max-width: $screen-xs-max) {
      position: relative;

      &:before {
        display: block;
      }
    }
  }
  &-item {
    width: 33.3333%;
    padding: 0 25px 85px;
    margin-top: 35px;
    position: relative;
    @include transition($transition);

    &:nth-child(3n+0) {
      .catalog-thumb:after {
        display: none;
      }
    }
    &:nth-child(-n+3) {
      margin-top: 0;

      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: calc(100% + 35px);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 75px;
      height: 1px;
      background: #DDDDDD;
    }
  }
  &-thumb {
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      @include transition(all .4s linear);
      @include scale(1, 1);
    }
    &:hover {
      img {
        @include scale(1.1, 1.1);
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -25px;
      width: 1px;
      background: #DDDDDD;
    }
    .wrap {
      position: relative;
      overflow: hidden;
    }
  }
  &-info {
    padding: 30px 15px 20px;
    width: calc(100% - 26px);
    margin: -110px auto 0;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 9;
    @include box-shadow(0 0 9px 0 rgba(99,99,123,.29));

    .title {
      display: inline-block;
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 15px;
      color: #464389;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #464389;
      }
    }
    .desc {
      font-size: 14px;
      font-weight: 200;
      margin-bottom: 15px;
      color: #6d6c90;
    }
    .price {
      color: #464389;
      display: block;
      font-size: 22px;

      small {
        font-size: 16px;
      }
    }
    .btn {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding-top: 18px;
      padding-bottom: 16px;
      text-transform: uppercase;
    }
  }
  &-filter {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px 20px 0;
    margin: 1px 0 -1px 0;
    position: relative;
    z-index: 10;
  }
  &-sort {
    display: none;
    position: relative;
    margin: -4px 0 0 0;
    width: 100%;
    background: #fff;
    padding: 20px 25px 0;
    top: 5px;
    z-index: 9;

    li {
      position: relative;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      line-height: 14px;
      font-weight: 300;
      color: #6d6c90;
      padding: 12px 35px 10px 15px;
      border: 1px solid #CFD1D7;
      margin: 0 5px 5px 0;
      @include transition($transition);

      .icon-cross {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        max-width: 15px;
        max-height: 15px;
        color: #6d6c90;
        @include transition($transition);
      }
      &:hover {
        color: $main-color;
        border: 1px solid $main-color;

        .icon-cross {
          color: $main-color;
        }
      }
    }
    &.active {
      display: block;
    }
  }
  @media (max-width: $screen-md-max) {
    &-filter {
      @include flexbox();
    }
    &-sort {
      margin: -5px 0 0 0;
    }
  }
  @media (max-width: $screen-sm-max) {
    &-item {
      width: 50%;

      &:nth-child(-n+3) {
        margin-top: 35px;

        &:before {
          display: inherit;
        }
      }
      &:nth-child(-n+2) {
        margin-top: 0;

        &:before {
          display: none;
        }
      }
      &:nth-child(3n+0) {
        .catalog-thumb:after {
          display: inherit;
        }
      }
      &:nth-child(even),
      &:last-child {
        .catalog-thumb:after {
          display: none;
        }
      }
    }
  }
  @media (max-width: 630px) {
    &-filter {
      width: calc(100% + 2px);
      margin: 1px -1px -1px;
    }
    &-item {
      width: 100%;

      &:nth-child(-n+2) {
        margin-top: 35px;

        &:before {
          display: inherit;
        }
      }
      &:first-child {
        margin-top: 0;

        &:before {
          display: none;
        }
      }
    }
    &-thumb {
      &:after {
        display: none !important;
      }
    }
  }
}
.dropzone {
  position: relative;
  border: 1px solid $main-color;
  background: #F7F7FA;
  margin-bottom: 13px;
  min-height: 320px;
  cursor: pointer;

  .tools {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100px;
      height: 100px;
      margin: -50px auto 0;
      background: url('../img/svg/thumb.svg') center no-repeat #fff;
    }
    .title {
      position: absolute;
      bottom: 25px;
      left: 20px;
      right: 20px;
      text-align: center;
      font-size: 15px;
      font-weight: 200;
      color: #32306b;
      margin: 0;
    }
  }
  .dz-default.dz-message {
    display: none;
  }
}
.advice {
  background: url('../img/bg-advice.jpg') center no-repeat;
  background-size: cover;
  padding: 200px 0 60px;

  .head {
    padding-left: 75px;
    background: url('../img/svg/consultant.svg') no-repeat;
    background-size: 50px 60px;

    .title {
      font-family: $font-family-second;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 1px;
      color: #fff;
      margin: 0;
    }
    .desc {
      font-size: 18px;
      font-weight: 300;
      color: #fff;
    }
  }
  .form {
    margin: 35px -12px 0;
    @include flexbox();
    @include flex-wrap(wrap);

    &-group {
      width: calc(25% - 24px);
      margin: 0 12px;
    }
    &-control {
      height: 65px;
      color: #fff;
      font-weight: 300;
      background: rgba(38,13,55,.16);
      border: 1px solid #fff;
      cursor: pointer;
      @include placeholder{
        color: #fff;
      }

      &:hover {
        border: 2px solid #fff;
        @include scale(1.1, 1.1);
      }
      &:focus {
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
  .btn {
    width: 100%;
    height: 65px;
    text-transform: uppercase;
  }
  .order {
    display: none;
  }
  @media (max-width: $screen-sm-max) {
    padding: 200px 0 40px;

    .head {
      padding-left: 70px;
    }
    .form {
      padding-left: 70px;

      &-group {
        width: calc(50% - 24px);
        margin: 0 12px 12px;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    padding: 80px 0 35px;

    .head {
      padding-top: 65px;
      padding-left: 0;
      background: url('../img/svg/consultant.svg') no-repeat;
      background-size: 50px 60px;

      .title {
        font-size: 40px;
        line-height: 33px;
        margin-bottom: 10px;
      }
    }
    .form {
      display: none;
    }
    .btn {
      max-width: 270px;
    }
    .order {
      display: block;
    }
  }
}
.approach {
  padding: 75px 0;
  background: url('../img/bg-approach.jpg') -470px center no-repeat;
  border-bottom: 1px solid #ECECEC;

  &-container {
    @include flexbox();
    @include flex-wrap();

    .left {
      background: #fff;
      width: 50%;
      position: relative;
      @include box-shadow(0 0 79px 0 #e4e3e7);

      .thumb {
        position: absolute;
        top: 50px;
        left: 50px;
        right: 50px;
        bottom: 50px;
        background: url('../img/design.jpg') center no-repeat;
        background-size: cover;
      }
      .design {
        display: none;
      }
    }
    .right {
      background: #fff;
      padding: 45px 45px 0;
      width: 50%;
    }
  }
  .design {
    padding: 0 15px;
  }
  .text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #8685a1;
    display: block;
    margin-bottom: 5px;
  }
  .title {
    font-family: $font-family-second;
    font-size: 60px;
    line-height: 70px;
    color: #4c4990;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;

    &.mini {
      font-size: 30px;
      text-transform: inherit;
      line-height: 30px;

      .line {
        max-width: 220px;
        margin: 15px auto;
      }
    }
    .line {
      display: block;
      position: relative;
      height: 1px;
      width: 100%;
      max-width: 90%;
      margin: 15px 0;
      background: #CED5E5;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: -1px;
        width: 5px;
        height: 3px;
        background: #CED5E5;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
  .desc {
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    color: #32306b;
  }
  .production {
    text-align: center;
    padding: 30px;
    border: 1px solid #CED5E4;

    &-content {
      position: relative;
      background: #fff;
      width: calc(100% - 40px);
      margin: -135px auto 0;
      padding: 30px 15px;
    }
    .text {
      display: none;
    }
  }
  @media (max-width: $screen-md-max) {
    background: url('../img/bg-approach.jpg') -670px center no-repeat;

    &-container {
      @include align-items(center);

      .left {
        width: 55%;
        padding: 50px;

        .thumb {
          position: static;
          min-height: 270px;
          margin-bottom: 30px;
        }
        .design {
          display: block;
          padding: 0;
        }
      }
      .right {
        width: 45%;
        padding: 0 25px;

        .design {
          display: none;
        }
      }
    }
    .production {
      &-thumb {
        position: relative;
        overflow: hidden;

        img {
          max-width: none;
        }
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    padding: 55px 0;
    background: url("../img/bg-approach.jpg") -640px -242px no-repeat;
    background-size: 1094px 1089px;
    border-bottom: 0;

    &-container {
      @include flex-wrap(wrap);

      .left {
        width: 100%;
        margin-bottom: 55px;
        position: relative;
      }
      .right {
        margin-top: 55px;
        width: 100%;
      }
    }
    .production {
      &-thumb {
        img {
          min-width: 100%;
        }
      }
    }
  }
  @media (max-width: $screen-sm-max) and (min-width: $screen-xs) {
    background: url("../img/bg-approach-xs.png") 0 0 no-repeat;
    background-size: auto  855px;
  }
  @media (max-width: ($screen-xs-max - 1) ) {
    background: transparent !important;
    padding: 50px 0;

    &-container {
      .left {
        background: transparent;
        padding: 0 0 65px 50%;
        margin-bottom: 0;
        @include box-shadow(none);
        @include flexbox();
        @include flex-wrap(wrap);

        &:after {
          display: none;
        }
        &:before {
          content: '';
          width: 100%;
          max-width: 240px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #D5DBE7;
        }
        .thumb {
          width: calc(50% - 40px);
          height: 250px;
          position: absolute;
          top: 20px;
          right: 20px;
          left: 20px;
          bottom: 20px;

          &:before {
            content: '';
            position: absolute;
            top: -20px;
            right:-20px;
            left: -20px;
            bottom: -20px;
            background: #fff;
            z-index: -1;
            @include box-shadow(0 0 79px 0 #e4e3e7);
          }
        }
        .design {
          padding: 20px;
          width: 100%;
          background: transparent;
        }
      }
      .right {
        position: relative;
        margin-top: 35px;
        padding: 0 0 35px 0;

        &:before {
          content: '';
          width: 100%;
          max-width: 240px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #D5DBE7;
        }
      }
    }
    .production {
      border: 0;
      padding: 0;
      text-align: left;
      @include flexbox();
      @include flex-wrap(wrap);

      &-thumb {
        width: 50%;
        height: 250px;
        @include box-shadow(0 0 79px 0 #e4e3e7);

        img {
          position: absolute;
          top: 20px;
          right: 20px;
          left: 20px;
          bottom: 20px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right:0;
          left: 0;
          bottom: 0;
          border: 20px solid #fff;
          z-index: 1;
        }
      }
      &-content {
        width: 50%;
        margin: 0;
        padding: 20px;
        background: transparent;
      }
      .text {
        display: block;
      }
    }
    .text {
      font-size: 13px;
    }
    .title {
      font-size: 36px;
      line-height: 36px;

      &.mini {
        font-family: $font-family-second;
        font-size: 36px;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;

        .line {
          width: 100%;
          margin: 15px 0;
        }
      }
      .line {
        width: 100%;
      }
    }
    .desc {
      font-size: 15px;
      line-height: 18px;
    }
  }
  @media (max-width: 630px) {
    &-container {
      .left {
        padding: 310px 0 0px 0;

        .thumb {
          width: calc(100% - 40px);
        }
      }
      .right {
        padding: 0;
      }
    }
    .production {
      &-thumb {
        width: 100%;
      }
      &-content {
        width: 100%;
      }
    }
  }
}
.heading {
  position: relative;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family-second;
  font-size: 35px;
  line-height: 47px;
  color: #4c4990;
  margin-bottom: 45px;
  letter-spacing: 1.5px;

  .line {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    max-width: 220px;
    margin: 15px auto 0;
    background: #CED5E5;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      width: 5px;
      height: 3px;
      background: #CED5E5;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}
.warranty {
  padding: 40px 0 35px;

  .container {
    @include flexbox();
    @include align-items(center);
    @include flex-wrap(nowrap);

    .left {
      width: 50%;
      padding-right: 25px;
      text-align: center;
    }
    .right {
      width: 50%;
      padding-left: 25px;
    }
    .xs {
      display: none;
    }
    @media (max-width: $screen-md-max) {
      .left {
        width: 60%;
      }
      .right {
        width: 40%;
      }
    }
    @media (max-width: $screen-sm-max) {
      .left {
        width: 100%;
        margin-bottom: 20px;
      }
      .right {
        width: 80%;
        margin: 0 auto;
      }
    }
    @media (max-width: $screen-xs-max) {
      @include flex-wrap(nowrap);

      .md {
        display: none;
      }
      .xs {
        display: block;
      }
      .left {
        width: 50%;
        margin-bottom: 0;
      }
      .right {
        width: 50%;
        margin: 0 0 0 auto;
      }
    }
    @media (max-width: 630px) {
      @include flex-wrap(wrap);

      .left {
        text-align: center;
        width: 100%;
        padding: 0;
        margin-bottom: 30px;

        img {
          margin: 0 auto;
        }
      }
      .right {
        padding: 0;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
  .title {
    font-family: $font-family-second;
    font-size: 30px;
    line-height: 28px;
    color: #4c4990;
    margin-bottom: 20px;
  }
  @media (max-width: 630px) {
    padding: 0 0 35px 0;
  }
}
.reviews {
  background: #F0F0F0;
  padding: 60px 0 50px;
}
.back-to-top {
  display: inline-block;
  background: #fff;
  text-align: center;
  width: 75px;
  height: 75px;
  line-height: 95px;
  @include transition($transition);
  @include box-shadow(0 0 70px 0 rgba(227,227,232,.4));

  &:hover {
    @include box-shadow(0 0 70px 0 rgba(216,216,239,.7));
    @include scale(1.1, 1.1);

    .icon {
      color: #525091;
    }
  }
  .icon {
    color: #A9A9C8;
    position: relative;
    top: 2px;
    @include rotate(90deg);
  }
}
.about {
  background: #F2F2F2;

  &-title {
    text-transform: uppercase;
    font-family: $font-family-second;
    font-size: 66px;
    line-height: 60px;
    color: $main-color;
    letter-spacing: 2px;
    margin: 0;
  }
  &-slogan {
    font-family: $font-family-second;
    font-weight: 200;
    font-size: 20px;
    color: #32306b;
    margin-bottom: 35px;
  }
  &-description {
    font-family: $font-family-second;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    color: #32306b;
    margin-bottom: 25px;
  }
  &-scheme {
    margin-top: 70px;
    font-weight: 200;
    font-family: $font-family-second;
    font-size: 16px;
    line-height: 30px;
    color: #32306b;
    margin-bottom: 15px;
  }
  .container {
    @include flexbox();
    @include flex-wrap(wrap);

    &:before,
    &:after {
      display: none;
    }
  }
  .left {
    padding: 80px 75px 90px;
    background: #fff;
    width: 60%;
    margin-top: -80px;

    .map {
      padding: 25px;
      background: #fff;
      min-height: 510px;
      @include box-shadow(0 0 75px 0 rgba(214,213,219,.75));
    }
    #map {
      width: 100%;
      min-height: 510px;
    }
  }
  .right{
    padding: 80px 65px 90px;
    background: url('../img/bg-about.jpg') no-repeat;
    width: 40%;
    margin-top: -80px;

    .logo {
      background: #fff;
      padding: 25px;
      height: 270px;
      border: 12px solid #F1F6F9;
      margin-bottom: 180px;

      a {
        height: 100%;
        @include flexbox();
        @include align-items(center);
      }
      .icon-logo-main {
        max-width: 100%;
        max-height: none;
      }
    }
    .address {
      text-align: center;

      p {
        color: #fff;
        font-family: $font-family-second;
        font-weight: 200;
        font-size: 50px;
        line-height: 40px;
      }
      span {
        color: #fff;
        font-family: $font-family-second;
        font-weight: 200;
        font-size: 20px;
      }
      .line {
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        max-width: 220px;
        margin: 35px auto;
        background: #fff;
        @include opacity(.3);

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: -1px;
          width: 5px;
          height: 3px;
          background: #fff;
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
      }
    }
    .phone {
      cursor: pointer;
      display: block;
      text-align: center;
      border-bottom: 0;
      margin-bottom: 55px;

      .text {
        display: block;
        border-bottom: 0;
        color: #ff2c99;
        font-size: 18px;
        text-transform: uppercase;

        .icon {
          color: #ff2c99;
          max-height: 35px;
          max-width: 35px;
        }
      }
      .number {
        margin-top: 10px;
        font-family: $font-family-second;
        font-weight: 200;
        color: #fff;
        font-size: 50px;
        line-height: 50px;
        border-bottom: 0;

        &:hover {
          color: #ff2c99;
          border-bottom: 0;
        }
      }
    }
    .btn {
      text-transform: uppercase;
      padding: 24px 55px 22px;
    }
  }
  @media (max-width: $screen-md-max) {
    .left {
      width: 50%;
      padding: 60px 30px;
      margin-top: -60px;
    }
    .right {
      width: 50%;
      padding: 60px 45px;
      margin-top: -60px;
    }
  }
  @media (max-width: $screen-sm-max) {
    .left {
      width: 100%;
      padding: 60px 50px;
      margin-top: -60px;
    }
    .right {
      width: 100%;
      padding: 80px 45px;
      margin-top: 0;

      .logo {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 85px;
      }
    }
  }
  @media (max-width: $screen-xs-max) and (min-width: 640px) {
    .right {
      position: relative;

      &:after {
        content: '';
        display: table;
        clear: both;
      }
      .info {
        float: left;
        width: 45%;
      }
      .logo {
        float: right;
        width: 45%;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    &-scheme {
      margin-top: 40px;
      margin-bottom: 0;
      text-decoration: underline;
    }
    .left {
      margin: 25px 0;
      padding: 35px 20px;

      .map {
        display: none;
      }
    }
    .right {
      width: calc(100% + 46px);
      margin: 0 -23px;
      padding: 50px;

      .logo {
        margin-bottom: 25px;
      }
      .address {
        .line {
          margin: 15px auto;
        }
      }
      .phone {
        margin-bottom: 25px;

        .number {
          font-size: 35px;
        }
      }
      .social {
        &-block {
          margin-top: 25px;
        }
      }
      .btn {
        width: 100%;
      }
    }
  }
  @media (max-width: 639px) {
    &-title {
      font-size: 51px;
      line-height: 51px;
    }
    &-slogan {
      font-size: 15px;
      margin-bottom: 25px;
    }
    &-description {
      line-height: 18px;
      margin-bottom: 15px;
    }
    .right {
      padding: 50px 35px;
    }
  }
}
.free-wallpapers {
  padding: 80px 0 260px;
  background: url('../img/bg-free-wallpapers.jpg') center no-repeat;

  .label {
    display: inline-block;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
    padding: 14px 55px 12px;
    background: url('../img/bg-btn-blue-light.png') center no-repeat;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
  .title {
    color: #fff;
    font-family: $font-family-second;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 90px;
    margin: 0;
    letter-spacing: 2px;
  }
  .date {
    color: #fff;
    font-family: $font-family-second;
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .timer {
    margin-top: 40px;

    &-title {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
    }
    &-block {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    &-note {
      span {
        display: inline-block;
        vertical-align: top;
        width: 150px;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        text-align: center;

        &:not(:last-child) {
          margin-right: 33px;
        }
      }
    }
    .btn {
      display: inline-block;
      vertical-align: top;
      font-size: 20px;
      line-height: 20px;
      padding: 27px 65px 25px;
      text-transform: uppercase;
    }
  }
  @media (max-width: $screen-sm-max) {
    padding: 120px 0 140px;
  }
  @media (max-width: $screen-xs-max) {
    padding: 80px 0;

    .label {
      padding: 12px 35px 10px;
      margin-bottom: 15px;
    }
    .title {
      font-size: 46px;
      line-height: 46px;

      br {
        display: none;
      }
    }
    .date {
      font-size: 46px;
      line-height: 46px;
    }
    .timer {
      &-note {
        span {
          font-size: 15px;
          width: 80px;

          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
      .btn {
        position: relative;
        top: -10px;
      }
    }
  }
  @media (max-width: 630px) {
    padding: 90px 0 120px;

    .title {
      font-size: 44px;
      line-height: 46px;
    }
  }
  @media (max-width: 340px) {
    .timer {
      &-note {
        position: relative;
        top: -20px;
      }
    }
  }
}
.jcrop {
  &-active {
    border: 1px solid #49485D;
    max-width: 100%;
    height: auto !important;
    width: 100% !important;
    overflow: hidden;
  }
  &-handle {
    &.ord {
      &-n,
      &-s,
      &-e,
      &-w,
      &-sw,
      &-ne,
      &-nw,
      &-se {
        display: none;
      }
    }
  }
  &-border {
    opacity: 1 !important;
    filter: alpha(opacity=100)!important;

    &.ord-n,
    &.ord-s {
      background: url('../img/ord-ns.png');
    }
    &.ord-w,
    &.ord-e {
      background: url('../img/ord-we.png');
    }
  }
}
.crop-block {
  width: 100% !important;
  margin: 0 auto;
}