.popup {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  @include transition($transition);
  @include opacity(0);
  @include box-shadow(0 0 75px 0 rgba(219,217,230,.75));

  &.in {
    pointer-events: all;
    @include opacity(1);
  }
  &.load-image {
    top: -110px;
    left: 16px;
    right: 16px;
    padding: 60px 30px;

    h4 {
      font-size: 18px;
      font-weight: 200;
      color: #32306b;
      line-height: 20px;
      margin: 0 0 15px 0;
    }
    .side {
      width: calc(50% - 50px);
      padding: 0 0 33px 0;
      border-bottom: 1px solid #DBD9E1;

      &:nth-last-child(2),
      &:last-child {
        border-bottom: 0;
      }
      &s {
        @include flexbox();
        @include flex-wrap(wrap);
      }
      &-left {
        margin-bottom: 33px;
      }
      &-right {
        margin: 0 0 33px auto;
      }
    }
    .wallpapers {
      margin: 0 -18px;
      @include flexbox();
      @include flex-wrap(wrap);
    }
    .checkbox {
      width: calc(50% - 36px);
      margin: 0 18px 36px;

      &:nth-last-child(2),
      &:last-child {
        margin-bottom: 0;
      }
    }
    .info {
      p {
        font-size: 14px;
        font-weight: 200;
        color: #32306b;
        line-height: 20px;
      }
      &.fs-16 {
        p {
          font-size: 16px;
        }
      }
      &.mt-40 {
        margin-top: 40px;
      }
    }
    .btn {
      font-weight: 300;
      padding: 19.5px 30px;
    }
    .form-group.image {
      .xs {
        display: none;
      }
    }
    @media (max-width: $screen-md-max) {
      margin-left: 0;

      .side {
        &-left {
          width: 100%;
        }
        &-right {
          width: 100%;
        }
      }
      .checkbox {
        width: calc(25% - 36px);
        @include inline-flex();
        @include align-items(flex-start);

        &:nth-last-child(2),
        &:last-child {
          margin-bottom: 36px;
        }
      }
    }
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      .side {
        &-contact,
        &-wallpapers {
          width: calc(50% - 50px);
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      left: 24px;
      right: 24px;

      .side {
        &-left {
          padding: 0;
          margin-bottom: 40px;
        }
        &-right {
          padding: 0;
          margin-bottom: 40px;
        }
        &-contact,
        &-wallpapers {
          width: calc(80% - 50px);
          margin: 0 0 30px;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      top: 0;
      margin-top: 1px;

      h4 {
        text-align: center;
      }
      .popup {
        &-desc {
          margin-bottom: 25px;
        }
      }
      .form-group.image {
        input {
          display: none;
        }
        .xs {
          display: block;
        }
        .md {
          display: none;
        }
        .btn {
          position: static;
          margin: 0 auto 20px;
          display: block;
          max-width: 250px;
          text-align: center;
        }
      }
      .side {
        &-contact,
        &-wallpapers {
          width: 100%;
          margin: 0;
        }
        &-wallpapers {
          padding-bottom: 25px;
          margin-bottom: 25px;

          &:nth-last-child(2) {
            border-bottom: 1px solid #DBD9E1;
          }
          .form {
            &-block {
              max-width: 280px;
              margin: 0 auto;

              [class*="col-"] {
                width: 50%;
              }
            }
            &-group {
              padding: 0 4.5px;
            }
          }
        }
        &-contact {
          @include flexbox();
          @include flex-wrap(wrap);

          h4 {
            width: 100%;
          }
          .form-group {
            width: 50%;

            &:nth-child(even) {
              padding-right: 12px;
            }
            &:nth-child(odd) {
              padding-left: 12px;
            }
            .btn {
              width: 100%;
            }
          }
        }
      }
    }
    @media (max-width: 630px) {
      top: 5px;
      left: 0;
      right: 0;

      h4 {
        text-align: left;
      }
      .checkbox {
        width: calc(50% - 36px);
      }
      .form-group.image {
        .btn {
          width: 100%;
          max-width: 100%;
        }
      }
      .side {
        &-wallpapers {
          .form {
            &-block {
              max-width: none;

              [class*="col-"] {
                padding-left: 0;
                padding-right: 0;

                &:nth-child(odd) {
                  padding-right: 12px;
                }
                &:nth-child(even) {
                  padding-left: 12px;
                }
              }
            }
            &-group {
              padding: 0;
            }
          }
        }
        &-contact {
          .form-group {
            width: 100%;

            &:nth-child(even) {
              padding-right: 0;
            }
            &:nth-child(odd) {
              padding-left: 0;
            }
            .btn {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &-inner {
    max-width: 825px;
    margin: 0 auto;
  }
  &-title {
    font-family: $font-family-second;
    font-size: 40px;
    color: #4c4990;
    text-align: center;
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    color: #32306b;
    text-align: center;
    margin-bottom: 55px;
  }
  @media (max-width: $screen-sm-max) {
    &-title {
      font-size: 35px;
      line-height: 35px;
    }
  }
}