.slider {
  &-advantage {
    position: relative;
    margin-top: -70px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 70px;
      background: url('../img/bg-slider-advantage.png') no-repeat;
      background-size: cover;
    }
    .slick {
      &-arrow {
        top: 410px;
      }
      &-track {
        @include flexbox();
      }
      &-list {
        padding: 0 !important;
      }
      &-current {
        background: rgba(255,255,255,.8);
      }
      &-slide {
        height: auto;
        @include transition($transition);
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-top: -60px;
    }
    @media (max-width: 630px) {
      margin-top: -70px;

      .slick {
        &-arrow {
          top: 370px;
        }
        &-current {
          background: rgba(255,255,255,.5);
        }
      }
    }
    @media (max-width: $screen-xs) {
      .slick {
        &-arrow {
          top: 390px;
        }
      }
    }
  }
}